
        body{
            background:rgb(54, 54, 54)
        }
        h1{
            color:rgb(255, 0, 0);
            background:rgb(184, 184, 184);
            border:solid;
            border-color:rgb(0, 0, 0);
            position:absolute;
            left:40%;
            top:-30px;
            font-size: 60px;
        }
        h2{
            font-size:xx-large;
        }
        #mush-types{
            font-size:25px;
        }
        #pagetop{
            background:rgb(184, 184, 184);
            border:solid;
            border-color:rgb(0, 0, 0);
        }
        #contents{
            font-size: 40px;
        }
        a{
            color:blue;
            font-size:large;
        }
        a:hover{
            background: rgba(82, 93, 255, 0.548);
            color:rgb(255, 123, 0);
            border-style: outset;
            border-width: 3px;
            border-color: black;
        }
        #facts{
            position:absolute;
            right:10px;
            top:100px;
            border:2px;
            border-style: groove;
            background:rgba(129, 58, 17, 0.541);
        }
        #facts:hover{
            background:rgba(74, 255, 3, 0.5)
        }
        #facts-header{
            position:absolute;
            right:205px;
            top:68px;
            border:2px;
            font-size: x-large;
            border-style: groove;
            border-bottom: 0px;
            background:rgba(129, 58, 17, 0.541);
        }
        #facts-header:hover{
            background:rgba(255, 3, 3, 0.74)
        }
        #Mario-Mushy{
            width:200px;
            position:absolute;
            right:10px;
            top:250px;
        }
        #Mario-Mushy:hover{
            width:300px;
        }
        #Red-Mushroom{
            width:190px;
            height:150px;
            position:absolute;
            right:220px;
            top:250px;
        }
        #Red-Mushroom:hover{
            width:300px;
            height:225px;
        }
        #MushyGroup{
            width:200px;
            height:150px;
            position:absolute;
            right:10px;
            top:410px;
        }
        #MushyGroup:hover{
            width:300px;
            height:225px;
        }
        #Goopy{
            width:190px;
            height:150px;
            position:absolute;
            right:220px;
            top:410px;
        }
        #Goopy:hover{
            width:300px;
            height:225px;
        }
        #Brown{
            width:180px;
            height:150px;
            position:absolute;
            right:420px;
            top:250px;
        }
        #Brown:hover{
            width:300px;
            height:225px;
        }
        #Generic{
            position:absolute;
            right:420px;
            top:410px;
            width:180px;
            height:150px;
        }
        #Generic:hover{
            width:300px;
            height:225px;
        }
        #gallery1{
            width:290px;
            height:200px;
        }
        #gallery2{
            width:290px;
            height:200px;
        }
        #gallery3{
            width:290px;
            height:200px;
        }
        #gallery4{
            width:290px;
            height:200px;
        }
        #gallery5{
            width:290px;
            height:200px;
        }
        #gallery6{
            width:290px;
            height:200px;
        }
        #gallery7{
            width:290px;
            height:200px;
        }
        #gallery8{
            width:290px;
            height:200px;
        }
        #gallery9{
            width:290px;
            height:200px;
        }
        #gallery10{
            width:290px;
            height:200px;
        }
        #gallery11{
            width:290px;
            height:200px;
        }
        #gallery12{
            width:290px;
            height:200px;
        }
        #gallery13{
            width:290px;
            height:200px;
        }
        #gallery14{
            width:290px;
            height:200px;
        }
        #gallery15{
            width:290px;
            height:200px;
        }
        .group1{
            position:absolute;
            left:10;
        }
        .group2{
            position:absolute;
            left:100;
        }
        #header{
            font-size: x-large;
        }
        #species{
            font-size: large;
        }
        #sourcespage{
            position:absolute;
            bottom:20px;
            left:50%;
        }
        #species-box{
            border-width: 5px;
            border-style: ridge;
            border-color: rgb(197, 169, 43);
            background-color: rgb(20, 139, 100);
            width: 330px;
            height: max-content;
            position:absolute;
            right:10px;
            top:150px;
            font-size: large;
        }
        #warning{
            color:red;
            text-align: left;
        }
        #grow{
            font-size: larger;
            background-color: rgb(231, 183, 119);
            border-width: 4px;
            border-style: ridge;
            border-color: black;
            width: 40%;
            overflow-y: auto;
        }
        #spread{
            font-size: larger;
            background-color: rgb(164, 231, 119);
            border-width: 4px;
            border-style: ridge;
            border-color: rgb(0, 0, 0);
            width: 40%;
            overflow-y: auto;
        }
        .table{
            background-color: rgb(132, 132, 132);
            border-color: black;
            border-width: 2px;
            border-style: outset;
            text-align: center;
            font-size: larger;
            position: absolute;
            left:550px;
            top:500px;
        }
        #mushroom-cycle{
            width:460px;
            position:absolute;
            top:150px;
            right:10px;
            border:3px;
            border-style: outset;
            border-color: black;
        }
        #roots{
            font-size: larger;
            background-color: rgb(119, 214, 231);
            border-width: 4px;
            border-style: ridge;
            border-color: rgb(0, 0, 0);
            width: 40%;
            overflow-y: auto;
        }