
body {
    font-size: large;
    color: aliceblue;
    background-color: black;
    background-image: url('https://attachments.office.net/owa/C00271651%40itcarlow.ie/service.svc/s/GetAttachmentThumbnail?id=AAMkADAzMzBiY2U5LWNlZTEtNDc3MS1iMDlmLTFiY2QyZjM5MGNjZgBGAAAAAABIc9joXaBjQqFKdsNWtZlxBwCEtfq1Li7XTY9D%2FKu5udfcAAAAAAEJAACEtfq1Li7XTY9D%2FKu5udfcAACQjgPXAAABEgAQAEseP16jLyVKsZZjZ9RdZzM%3D&thumbnailType=2&token=eyJhbGciOiJSUzI1NiIsImtpZCI6IkZBRDY1NDI2MkM2QUYyOTYxQUExRThDQUI3OEZGMUIyNzBFNzA3RTkiLCJ0eXAiOiJKV1QiLCJ4NXQiOiItdFpVSml4cThwWWFvZWpLdDRfeHNuRG5CLWsifQ.eyJvcmlnaW4iOiJodHRwczovL291dGxvb2sub2ZmaWNlLmNvbSIsInVjIjoiMDY1ZWY3MDY5NzZjNDFhZDk4NDM4ZWM5YzRlMzM5ZDciLCJzaWduaW5fc3RhdGUiOiJbXCJrbXNpXCJdIiwidmVyIjoiRXhjaGFuZ2UuQ2FsbGJhY2suVjEiLCJhcHBjdHhzZW5kZXIiOiJPd2FEb3dubG9hZEBhNzYyMzcwYy0wNzY3LTRkNWItYjViMy0wMmNjOGVjMjc5ZmQiLCJpc3NyaW5nIjoiU0lQIiwiYXBwY3R4Ijoie1wibXNleGNocHJvdFwiOlwib3dhXCIsXCJwdWlkXCI6XCIxMTUzODAxMTIwNDI3MzU2MDU2XCIsXCJzY29wZVwiOlwiT3dhRG93bmxvYWRcIixcIm9pZFwiOlwiYzZiZDBmMDAtZWMwZS00MmFmLWEzYTAtODY2ZjUzZjYwMTEzXCIsXCJwcmltYXJ5c2lkXCI6XCJTLTEtNS0yMS0zNjk5NTUyNDA4LTIxNDA2MTAxMy0yMzI0NTA4MTctMzQyMzQ3OTlcIn0iLCJuYmYiOjE2NTExNTY4NjUsImV4cCI6MTY1MTE1NzQ2NSwiaXNzIjoiMDAwMDAwMDItMDAwMC0wZmYxLWNlMDAtMDAwMDAwMDAwMDAwQGE3NjIzNzBjLTA3NjctNGQ1Yi1iNWIzLTAyY2M4ZWMyNzlmZCIsImF1ZCI6IjAwMDAwMDAyLTAwMDAtMGZmMS1jZTAwLTAwMDAwMDAwMDAwMC9hdHRhY2htZW50cy5vZmZpY2UubmV0QGE3NjIzNzBjLTA3NjctNGQ1Yi1iNWIzLTAyY2M4ZWMyNzlmZCIsImhhcHAiOiJvd2EifQ.qGD1d4_Ewbmn28N9wOEuYPaWw4EA5j6qACQpvQXR_js7KDiaTyhtpRm-3oV3dYB-OHFV-pOgaY-t-xoTdiEvaciqViL0gnmfhB4hc1q_oiVLM7T66LrZ4q_jiDsb-r945RN2ke3R7yMrA0ZOM3Hp6uXw9bgFb-fGrNvg1gNmayyDk63386Htu_85yK2J-cEPlxfQf8LcgMFetDfkLxU56GPj8OyOUTkd0n8QIiGQiYi2jq_ka3JURwcvW4gTPL_LhKSqm0dq14_GDdJ6p4EAyHj-xynO7Opa6XOFRfsLZhOV2SDApuq253gdwVhBOmdVD36N_AT9R3rgq5QoUQRcZA&X-OWA-CANARY=WiW7ap54gkCsGicEveY6V5C5CVYlKdoYCmnSGLKfs5L4ppsPpBMNTbiFXGVI4cWop1EgEbH-HPg.&owa=outlook.office.com&scriptVer=20220408004.15&animation=true');
}
#Information{
    border:solid;
    border-color:rgb(60, 70, 100);
    position:absolute;
    right:5%;
    top:50px;
    font-size: large;
}
#Usability-Titles{
    font-size: larger;
    color: rgb(255, 85, 85);
}
.Project-Title{
    font-size: 40px;
}
#Menu-Screen{
    width:600px;
    height:300px;
    position:absolute;
    right:5%;
    top:75px;
}
#Apps-Screen{
    width:600px;
    height:300px;
    position:absolute;
    right:5%;
    top:400px;
}
#Search-Bar{
    width:600px;
    height:300px;
    position:absolute;
    right:5%;
    top:725px;
}
#Calling-Screen{
    width:600px;
    height:300px;
    position:absolute;
    right:5%;
    top:1050px;
}
#Test-Title{
    font-size: larger;
    color: rgb(255, 85, 85);
}
#Draw-Screen{
    width:1000px;
    position:absolute;
    right:2.5%;
    top:37.5px;
}